torch==2.0.0+cu118
torchvision>=0.15.1+cu118
torchaudio==2.0.1+cu118
cudatoolkit==11.8.0
filelock==3.9.0
jinja2==3.1.2
mpmath==1.2.1
networkx==3.0
sympy==1.11.1
imageio
imageio-ffmpeg
matplotlib
configargparse
tensorboard>=2.0
tensorboardx
tqdm
opencv-python
